 #beesbg {
  padding: 0;
  background-image: url('../images/Beesbg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}


.beebg {
  padding: 0;
  background-image: url('../images/beebg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}