.traitBg {
  background-image: url('../images/traitBg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
} 

#active {
background-image: url('../images/BeeTraitsActive.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}