
.iconBg {
  background-image: url('../images/Iconbg.svg');
  background-size: 100%;
  background-position: center;
} 

.questionActive {
  color: #DB8116
}

 .icon :global .MuiAccordionSummary-expandIconWrapper :hover {
opacity: 0.7
}