#upperSection {
  background-image: url('../images/UpperSectionBg.svg');
  background-position: center top;
}

/* #honey {
  background-image: url('../images/Honey.svg');
  background-repeat: no-repeat;
  background-position: 0px 10px;
} */
